body {
    margin:0;
    padding: 0;
    background-color: black;
}
a{
    text-decoration: none!important;
}

#overlayer {
    width:100%;
    height:100%;  
    position:absolute;
    z-index:1;
    background:url(../image/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-txt{
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50% ,-50%);
}
.main-txt div {
    
    padding-left: 56px;
    color: white;
    font-family: Lato;
    letter-spacing: 11px;
    font-size: 55px;
}





/* img {
    /* position: absolute; 
    top: 20%;
} */

.bg-banner {
   
    position: absolute;
    top:20%;
    left: 5%;
}
.product-perfume{
   
    overflow: hidden;

}
.bg-banner img{
    transition: ease-in-out 0.5s;
}
.bg-banner img:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.5s;
}
.footer{
    width: 100%;
  
  
    
}
.footer-1{
    width: 100%;
  position: fixed;
  bottom: 0;
  
    
}



